.page__intro {
  height: 40%;
  background-color: #CCC;
  border: solid 1px #000;
}

.page-intro--title {
  text-align: center;
}

.page__actions {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}