.page__cupping {
  vertical-align: middle;
}

.page__cupping.nt-form {
  width: 80%;
  margin: 0 auto;
}

.create-session__label {
  font-weight: bold;
  text-align: center;
  margin-top: 10;
}

.sample-names__label {
  font-weight: bold;
  font-size: $font-size-large;
}