.nt-drawer__header-brand {
    font-size: $font-size-large;
    color: $color-primary;
    font-weight: bold;
}

.nt-drawer__header-footnote {
    font-size: $font-size-normal;
    color: $color-primary;
    font-weight: bold;
}