.page__cupping {
  vertical-align: middle;
}

.page__cupping.nt-form {
  width: 80%;
  margin: 0 auto;
}

.session-id-label {
  margin-top: 10;
}

.create-session__label {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}